<div class="ekart--product--items" >
    <div class="ekart-whishlist-sales-container">
        <div class="ekart--add--to--wishlist">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
        </div>
        <div class="ekart-on-sale-tag" *ngIf="products.discountPrice">{{(products.discountPrice/products.price*100).toFixed(0)}}% OFF</div>
    </div>
    <div class="ekart--product--image">
        <img [src]="products.imageURL" class="ekart--product--image">
    </div>
    <div class="ekart--add--to--price">
        {{products.price}}
    </div>
    <div class="ekart--product--name">{{products.name}}</div>
    <div class="ekart--product--catagory">{{products.gender}}.{{products.category}}.{{products.brand}}</div>
    <div class="ekart--product--available--colors">{{products.color.length}}Colors.Best Seller</div>
    <div class="ekart--product--in-stock" [ngStyle]="{fontWeight:'bold' ,color:products.is_in_inventory ? 'green' :'red'}">
        {{products.is_in_inventory ?'available in stack':'not available'}}
    </div>
</div>
